extends layout

block content
  div#form
    h1 Become Admin

    form(action='', method='post')
      section
        label(for='passcode') Passcode
        input(id='passcode', name='passcode', type='password', required)
      button(type='submit') Become
    if errors
      ul
        for error in errors
          li!= error.msg
