extends layout

block content
  div#create-message
    h1 Create a new message

    form(action='', method='post')
      section
        label(for='title') Title
        input(id='title', name='title', type='text', value=(undefined===message ? '' : message.title))
      section
        label(for='content') Content
        textarea(id='content', name='content', rows='4', cols='50', value=(undefined===message ? '' : message.content))
      button(type='submit') Create
