extends layout

block content
  div#form
    h1 Sign up
    form(action='/sign-up', method='post')
      section
        label(for='first_name') First Name
        input(id='first_name', value=(undefined===user ? '' : user.first_name), name='first_name', type='text', autocomplete='first_name', required)
      section
        label(for='last_name') Last Name
        input(id='last_name', value=(undefined===user ? '' : user.last_name), name='last_name', type='text', autocomplete='last_name', required)
      section
        label(for='username') Username
        input(id='username', value=(undefined===user ? '' : user.username), name='username', type='text', autocomplete='username', required)
      section
        label(for='password') Password
        input(id='password', name='password', type='password', autocomplete='new-password', required)
      section
        label(for='passwordConfirmation') Password Confirmation
        input(id='passwordConfirmation', name='passwordConfirmation', type='password', required)
      button(type='submit') Sign up
    if errors
      ul
        for error in errors
          li!= error.msg
