* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: black;
  text-decoration: none;
}

button {
  background: #fff;
  border: 1px solid #000;
  cursor: pointer;
}

button:hover {
  background: black;
  color: white;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  border: 1px solid #000;
}

nav #logo {
  padding: 0 20px;
  color: black;
}

nav #logo:hover {
  background: none;
  color: black;
}

nav > .links a,
nav > .links p {
  display: block;
  padding: 20px;
  color: black;
}

nav > .links button {
  padding: 10px 20px;
  display: block;
}

nav > .links a:hover {
  background: #000;
  color: white;
}

nav > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

nav .logout {
  margin-left: 20px;
}

/* HOME */
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
}

#home h1 {
  margin: 30px 0;
  text-transform: uppercase;
}

#home .messages {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

#home .messages .message {
  border: 1px solid #000;
  padding: 20px;
  display: grid;
  grid-template-columns: 150px 1fr;
  width: 100%;
  position: relative;
}

#home .messages .message.user-message {
  align-self: flex-end;
  width: 950px;
}


#home .messages .message img {
  width: 100%;
  border: 1px solid #000;
}

#home .messages .message .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
}

#home .messages .message .info button {
  padding: 5px 10px;
}

#home .messages .message .info .content {
  margin: 20px 0px;
  padding: 0 10px;
  border-left: 2px solid #000;
}

#home .messages .message form {
  position: absolute;
  top: 20px;
  right: 20px;
}

#home .messages .message .info .info-footer {
  display: flex;
  justify-content: space-between;
}
